<!DOCTYPE html>
<html>
<head>
  <title>Myblog manage!</title>
  

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
    <style type="text/css">
     body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

  {%block style%}
  {%endblock%}
</head>
<body>
  
  
  <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="navbar-inner">
       <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/admin-chaopai">Here is my think!</a>
         <div class="nav-collapse collapse">
           <ul class="nav">
              <li class=""><a href="/post-blog">Send blog</a></li>
             <li class=""><a href="/admin-quit">Quit</a></li>
           </ul>
         </div><!--/.nav-collapse -->
       </div>
     </div>
  </div>

    <div class="container"> 
    {%block content%}
    {%endblock%}
    </div>
 

</body>
</html>
{%block js%}
{%endblock%}

