
{% extends "blog/views/templates/admin/base.html" %}
{%block style %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
{%endblock%}
{% block content %}
  <div class="container">

      <form class="form-signin" action="/set-init-user" method="POST">
        <h2 class="form-signin-heading">Set default administor account!</h2>
        <input  name="email" type="text" class="input-block-level" placeholder="User email">
        <br>
        <input type="password" name="pass" class="input-block-level" placeholder="Password">
     
        <button  class="btn btn-large btn-primary" type="submit">Login</button><(get params :error "")>
      </form>

    </div> 
{%endblock%}
