<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
     <link rel="stylesheet" href="/css/baoliang.css" type="text/css">
  {% block style %}

  {% endblock %}

</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="page-header">
        <h2><(get params :title "While there is life there is hope.")></h2>
        <hr>
      </div>

     
    </div>
    <div class="container">
          {% block content %}

          {% endblock %}

    </div>
  </div>

  <div class="footer">
    <div class="container">
      <p class="muted credit">Designed and built with all the <a href="http://weibo.com/baoliangstar">@张保良-star</a> jfreebird@gmail.com</p>
    </div>
  </div>
</body>
</html>


{% block js %}

{% endblock %}