<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
    <title>Baoliang Zhang's resume!</title>
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
     <link rel="stylesheet" href="/css/baoliang.css" type="text/css">
      <link rel="stylesheet" href="/css/timeline.css" type="text/css">

</head>
<body>
  <div id="wrap">
    <div class="container">
      <div class="page-header">
        <h2 style="margin-right: 20px;float: right;">Baoliang Zhang</h2>
        <hr>
      </div>
    </div>
    <div class="container">
      <div class="span-13" style="margin-left: 14px;font-size:2em;">
          <div class="">
            <h3>Ojective</h3>
            <div>
              <ul>
                <li>
                  Senior program engineer.
                </li>
               
              </ul>
            </div>
          </div>
          <div class="skills">
            <h3>Skills</h3>
            <div>
              <ul>
                <li>
                  Progreamer lanagure: python, ruby, java ,clojure, javascript, css, Objective-C.
                </li>
                <li>
                  Database: MYSQL, PostgreSQL, Mongodb, Memcached.
                </li>
              </ul>
            </div>
          </div>
          <div class="">
            <h3>Community</h3>
            <div>
              <ul>
                <li>
                  <a href="http://blog.rebaojie.net" target="_blank">http://blog.rebaojie.net</a>
                </li>
                <li>
                  <a href="http://github.com/baoliang" target="_blank">http://github.com/baoliang</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="">
            <h3>Show the work</h3>
            <div>
              <ul>
                <li>
                  <a href="https://itunes.apple.com/us/app/wei-le/id647547209?ls=1&mt=8" target="_blank">vlor ios app</a>
                </li>
                
                <li>
                  <a href="http://rebaojie.net/" target="_blank">Laydy's bag shopping guide website</a>
                </li>
                <li>
                  <a href="https://github.com/baoliang/clojure-blog" target="_blank">My blog's code</a>
                </li>
                <li>
                  <a href="http://vlor.net" target="_blank">Build mobile app in web. Demo account:xia password:lwsc</a>
                </li>

                <li>
                  <a href="http://wtw360.cn:3002" target="_blank">A Company's website! </a>
                </li>

                <li>
                  <a href="https://github.com/baoliang/idianying.tv" target="_blank">A  movie's website. </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="">
            <h3>Education</h3>
            <div>
              <ul>
                <li>
                  Henan University of Teachnology 2002-2006.

                </li>
                <li>
                  Major in electronics.

                  
                </li>
                <li>
                    Bachelor of Degree.
                </li>
              
              </ul>
            </div>
          </div>
          <div class="contact">
            <h3>Contact</h3>
            <div>
              <ul>
                <li>Building 12, NO.110 Changwa Court, Haiddian District, Beijing</li>
                <li>+86 136 5124 7834</li>
                <li>jfreebird@gmail.com</li>
              </ul>
            </div>
          </div>
      </div>    
      <div class="span-10">
        <div id="timelineContainer">
          <div class="timelineMajor">
            <h2 class="timelineMajorMarker"><span>2013</span></h2>
            <dl class="timelineMinor">
            <dt id="19550828">
              <a class="open" style="font-size: 1.2em;">April</a>
            </dt>
            <dd class="timelineEvent" id="19550828EX" style="display: block;">
              
          
            <p>
              Work at home Created 
              <a href="http://rebaojie.net/" target="_blank">http://rebaojie.net/</a>
              <a href="http://blog.rebaojie.net/" target="_blank">http://blog.rebaojie.net/</a>
              <a href="http://211.101.1.65:3002/" target="_blank">A company's website.</a>
            </p>
            <br class="clear">
            </dd> 
            </dl>
          <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">January</a>
            </dt>
            <dd class="timelineEvent" id="" style="display: block;">
              
          
            <p>
             
              Created a ios app like <a href="https://itunes.apple.com/us/app/dooo-to-do-note/id423785695?mt=8" target="_blank">DOOO</a>
               and vlor ios app
               <a target="_blank"  href="https://itunes.apple.com/us/app/wei-le/id647547209?ls=1&mt=8">vlor</a>
            </p>
            <br class="clear">
            </dd> 
            </dl>  
                <dl class="timelineMinor">
            <dt id="19550830">
              <a class="open" style="font-size: 1.2em;">2012</a>
            </dt>
            <dd class="timelineEvent" id="19550830EX" style="display: block;">
            <p>
             
              Build mobile app in web's webapp <a href="https://vlor.net/" target="_blank">vlor.net</a>'s  all web program.
            </p>
            <br class="clear">
            </dd> 
            </dl>  
          </div> 
          <br class="clear">
        </div>
        <div id="timelineContainer">
          <div class="timelineMajor">
            <h2 class="timelineMajorMarker"><span>2011</span></h2>
            <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">November</a></dt>
            <dd class="timelineEvent" id="EX" style="display: block;">
              
          
            <p>
              Join Liuweishicheng Inc as a web front programer.
            
            </p
            <br class="clear">
            </dd> 
            </dl> 
            <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">February</a></dt>
            <dd class="timelineEvent" id="EX" style="display: block;">
              
          
            <p>
              Join Admaster Inc as a python programer do <a href="http://weibomaster.com/">weibomaster</a>.Weibo master is a tools of analyse weibo account data.(weibo is like twitter in china,it's most popular sns in china.)
            
            </p
            <br class="clear">
            </dd> 
            </dl>        
          </div> 
          <br class="clear">
        </div>
        <div id="timelineContainer">
          <div class="timelineMajor">
            <h2 class="timelineMajorMarker"><span>2008</span></h2>
            <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">August</a></dt>
            <dd class="timelineEvent" id="EX" style="display: block;">
              
          
            <p>
              Join Rekoo Inc as a python programer. Developd many game!
            
            </p
            <br class="clear">
            </dd> 
            </dl> 
        
          </div>       
          <br class="clear">
        </div>
        <div id="timelineContainer">
          <div class="timelineMajor">
            <h2 class="timelineMajorMarker"><span>2006</span></h2>
            <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">July</a></dt>
            <dd class="timelineEvent" id="EX" style="display: block;">
              
            <p>
              Graduation
            
            </p>
            <br class="clear">
            </dd> 
            </dl> 
        
          </div>       
          <br class="clear">
        </div>
        <div id="timelineContainer">
          <div class="timelineMajor">
            <h2 class="timelineMajorMarker"><span>2002</span></h2>
            <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">September</a></dt>
            <dd class="timelineEvent" id="EX" style="display: block;">
              
            <p>
              Start  Henan University of Teachnology . study electronics. 
            
            </p>
            <br class="clear">
            </dd> 
            </dl> 
        
          </div>       
          <br class="clear">
        </div>
                <div id="timelineContainer">
          <div class="timelineMajor">
            <h2 class="timelineMajorMarker"><span>1982</span></h2>
            <dl class="timelineMinor">
            <dt id="">
              <a class="open" style="font-size: 1.2em;">September</a></dt>
            <dd class="timelineEvent" id="EX" style="display: block;">
              
            <p>
              Born
            
            </p>
            <br class="clear">
            </dd> 
            </dl> 
        
          </div>       
          <br class="clear">
        </div>
      </div>    
      </div>
  </div>


</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/colorbox.js"></script>
<script type="text/javascript" src="/js/timeline.js"></script>
<script>
    $(document).ready(function() {
      $.timeliner({
        startOpen:'.timelineEvent'
      });
      // Colorbox Modal
      $(".CBmodal").colorbox({inline:true, initialWidth:100, maxWidth:682, initialHeight:100, transition:"elastic",speed:750});

    });

  </script>

